<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <title>TestTask Parts Edit Part</title>

</head>
<body>

<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="navbar-header">
            <a href="/" class="navbar-brand" style="color: #6c757d">TestPart JavaRush.</a>
        </div>
    </nav>

    <br><br>
    <a href="/parts" class="btn btn-light active" role="button" aria-pressed="true">Показать список элементов</a>
    <a href="/populateDB" class="btn btn-info active" role="button" aria-pressed="true">Заполнить БД тестовыми
        данными</a>
    <a href="/add" class="btn btn-primary active" role="button" aria-pressed="true">Добивить элемент</a>
    <br><br><br>
    <br>

    <br><br>
    <form th:action="@{/updatePart}" th:object="${part}" method="POST" name="parts">
        <div class="form-group">
            <label>Id</label>
            <input type="number" class="form-control"
                   th:placeholder="${part.id}" placeholder="" th:field="*{id}" th:value="${part.id}" value="" readonly>
        </div>
        <div class="form-group">
            <label>Название</label>
            <input required type="text" class="form-control"
                   th:placeholder="${part.name}" placeholder="" th:field="*{name}" th:value="${part.name}" value="">
        </div>
        <div class="form-group">
            <label>Количество</label>
            <input required type="number" class="form-control" th:field="*{qty}" th:placeholder="${part.qty}"
                   th:value="${part.qty}"
                   placeholder="" value="" step="1" min="0" max="2147483647">
        </div>
        <br>
        <div class="form-group">
            <p>Необходимо для сборки'?'</p>
            <select required th:field="${part.important}" class="custom-select">
                <div th:switch="${part.isImportant()}">
                    <p th:case="'false'">
                        <option th:value="0" th:selected="">Нет</option>
                    </p>
                    <p th:case="'true'">
                        <option th:value="1" th:selected="">Да</option>
                    </p>
                    <option th:value="1">Да</option>
                    <option th:value="0">Нет</option>
                </div>
            </select>
        </div>
        <br><br>
        <button type="submit" class="btn btn-primary">Подтвердить</button>
    </form>
</div>
<br><br>
</body>
</html>