<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="js/dataTables.bootstrap4.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="dataTables/dataTables.bootstrap4.min.css"/>
    <link rel="stylesheet" type="text/css" href="dataTables/dataTables.bootstrap4.min.css"/>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <title>TestTask Parts</title>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="navbar-header">
            <a href="/" class="navbar-brand" style="color: #6c757d">TestPart JavaRush.</a>
        </div>
    </nav>

    <br><br>
    <a href="/parts" class="btn btn-light active" role="button" aria-pressed="true">Показать список элементов</a>
    <a href="/populateDB" class="btn btn-info active" role="button" aria-pressed="true">Заполнить БД тестовыми
        данными</a>
    <a href="/add" class="btn btn-primary active" role="button" aria-pressed="true">Добивить элемент</a>
    <br><br>
    <h2 style="text-align: center;">TestTask - Part-list,&nbsp; JavaRush выполнил Egor Belkov&nbsp;&nbsp;</h2>
    <p style="text-align: left;">&nbsp;</p>
    <p style="text-align: left;">Ссылка на проект&nbsp;<a title="TestTaskParts" href="https://github.com/anderfred/TestTaskParts" target="_blank" rel="noopener">https://github.com/anderfred/TestTaskParts</a></p>
    <p style="text-align: left;">Используемые технологии:</p>
    <ul>
        <li style="text-align: left;">&nbsp;Maven</li>
        <li style="text-align: left;">&nbsp;Spring 5.0.9</li>
        <li style="text-align: left;">&nbsp;Hibernate 5.3.6</li>
        <li style="text-align: left;">&nbsp;Tomcat 8.5.34</li>
        <li style="text-align: left;">&nbsp;MySql server 8</li>
        <li style="text-align: left;">&nbsp;Thymeleaf&nbsp;3.0.9</li>
        <li style="text-align: left;">&nbsp;Spring Boot 2.0.5</li>
        <li style="text-align: left;">&nbsp;Bootstrap</li>
        <li style="text-align: left;">&nbsp;jQuery</li>
        <li style="text-align: left;">&nbsp;Spring Data Jpa</li>
    </ul>
    <p>&nbsp;</p>
    <p>При старте приложения spring boot инициализирует базу данных файлами&nbsp;schema.sql для создания структуры таблицы и data.sql для наполнения ее тестовыми данными, тоже самое можно сделать самому нажав кнопку "Заполнить БД тестовыми данными". Для более красивого отображения сайта был применен&nbsp;<a title="Bootstrap" href="http://getbootstrap.com/">Bootstrap</a>&nbsp;, за отрисовку таблицы отвечает DataTables плагин к jQuery.&nbsp;</p>
    <p>Тестировалось на Win10, openJdk 11 , MySql server 8.</p>
</div>
</body>
</html>