<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="js/dataTables.bootstrap4.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="dataTables/dataTables.bootstrap4.min.css"/>
    <link rel="stylesheet" type="text/css" href="dataTables/dataTables.bootstrap4.min.css"/>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <title>TestTask Parts</title>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="navbar-header">
            <a href="/" class="navbar-brand" style="color: #6c757d">TestTask Parts}.</a>
        </div>
    </nav>

    <br><br>
    <a href="/parts" class="btn btn-light active" role="button" aria-pressed="true">Показать список элементов</a>
    <a href="/populateDB" class="btn btn-info active" role="button" aria-pressed="true">Заполнить БД тестовыми
        данными</a>
    <a href="/add" class="btn btn-primary active" role="button" aria-pressed="true">Добивить элемент</a>
    <br><br>

</div>
</body>
</html>